table{
    border: 2px solid black;
    border-collapse: collapse;
}
tr, td, th{
    border: 1px solid black;
    width: 100px;
    padding: 5px;
    text-align: center;
}

.parent{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.parent div {
    border: 2px inset black;
    width: 200px;
}
.parent div p{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 5px 0px 5px 0px !important;
}
.number{
    font-size: 50px !important;
}