body{
background-color: blueviolet;
}
h1, h2 {
    text-align: center;
    color: aqua;
    font-size: 50px;
    text-shadow: 3px 3px 10px blue;
}
input{
    text-align: center;
    border-radius: 30px;
    padding: 10px;
    background-color: aqua;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 5px 5px 15px black;
}
.parent{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
.parent button{
    border: 5px inset blue;
    border-radius: 30px;
    background-color: aqua;
    color: blue;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 5px 5px 15px white;
}